body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-container {
  position: relative;
  max-width: 200px;
  word-wrap: break-word;
  border: 1px solid #ddd;

  animation-name: flyAround;
  /* animation-duration: 8s; */
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.text-container::after {
  content: "";
  position: absolute;
  top: 100%; /* Position the arrow at the bottom of the tooltip */
  left: 50%;
  margin-left: -8px; /* Center the arrow */
  border-width: 8px;
  border-style: solid;
  border-color: #f8f8f8 transparent transparent transparent; /* Create an arrow with a border */
}

@keyframes flyAround {
  0% { transform: translate(0, 0); }
  25% { transform: translate(100px, 0); }
  50% { transform: translate(100px, 100px); }
  75% { transform: translate(0, 100px); }
  100% { transform: translate(0, 0); }
}
